.album-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-bottom: 2px solid #007bff;
    padding: 0px 10px;
    backdrop-filter: blur(10px);
    color: #333;
}

.album-body {
    width: 100%;
    display: inline;
}
