.btn-style {
    background: none;
    padding: 10px 20px;
    color: #007bff;
    border-radius: 5px;
    border: 2px solid #007bff;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btn-style:hover {
    background: #007bff;
    color: #fff;
    font-weight: 600;
    transform: scale(1.05);
}
