.container-box{
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #c5eb14;
}

.link-style {
    margin: 5px 20px;
    background: transparent;
    text-decoration: none;
    outline: none;
    padding: 5px 15px;
    border: 2px solid #c5eb14;
    color: #c5eb14;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
}
